@import '../../../styles'

.recent-search-wrapper
  position: relative
  padding: 16px
  .recent-search
    cursor: pointer
  .delete-button
    position: absolute
    right: 0px
    top: 0px
    font-size: 10px
    padding: 4px
    cursor: pointer
    background-color: $white-color
    box-shadow: 0 0 8px $black-color
    opacity: 0.5
    border-radius: 100%
  .delete-button:hover
    opacity: 1
.recent-search-wrapper:hover
  .recent-search
    font-weight: 700